{% extends 'base.html' %}
{% load static %}

{% block title %}
Inicio
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<section class="banner">

    <div class="container-fluid p-0 position-relative">

        <img src="{% static 'img/banner.png' %}" class="img-fluid w-100" alt="Banner">

        <div class="banner-texto">

           <h1 class="titulo-temporada">
                <span>Nueva</span>
                <span class="gris">2026</span><br>
                <span>Temporada</span>
            </h1>
        </div>
    </div>
</section>

<section class="productos py-5">

    <div class="container">

        <h2 class="titulo-seccion text-center mb-5">
            Productos Destacados
        </h2>
   
        <div class="row g-4">

            {% for producto in productos_destacados %}
            
                <div class="col-lg-2 col-md-4 col-6">

                    <a href="{% url 'detalle_producto' producto.idProducto %}" class="producto text-center">

                        {% with imagen=producto.imagen_set.first %}
                            {% if imagen %}
                                <img src="{% static imagen.urlImagen %}" 
                                class="img-fluid"
                                alt="{{ producto.nombre }}">
                            {% endif %}
                        {% endwith %}

                        <h6>{{ producto.nombre }}</h6>

                        <div class="precios">

                            <p class="precio-viejo">
                                ${{ producto.precioOriginal|floatformat:0 }}
                            </p>

                            <p class="precio">
                                ${{ producto.precioDescuento|floatformat:0 }}
                            </p>

                        </div>
                    
                    </a>

                </div>

            {% endfor %}

        </div>

        <div class="text-center mt-5">

            <a href="{% url 'productos' %}" class="btn-productos">
                VER TODOS LOS PRODUCTOS
            </a>
       
        </div>

    </div>

</section>

<footer>

    <div class="container">

        <div class="row align-items-center">

           <div class="col-lg-4 text-center text-lg-start">

            <strong class="footer-titulo">Medios de pago: </strong>

            <img src="{% static 'img/mercadopagoLogo.jpg' %}" class="logo-pagos">

        </div>

            <div class="col-lg-4 text-center contacto-footer">

                <div class="contacto-contenido">

                    <strong class="footer-titulo">Contacto: </strong>

                    <div class="redes">

                        <a href="#">
                            <i class="bi bi-instagram"></i> 
                        Instagram
                        </a>

                        <a href="#">
                            <i class="bi bi-whatsapp"></i> 
                            WhatsApp
                        </a>

                        <a href="#">
                            <i class="bi bi-geo-alt"></i> 
                            Ubicación
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}
