{% load static %}
<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{% block title %}Olivia{% endblock %}</title>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">


    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
         
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
   
    <!-- CSS propio -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- letra Monserrat-->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>


<body>

    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid px-4">

                <!-- Logo -->
                <a class="navbar-brand" href="{% url 'inicio' %}">

                    <img src="{% static 'img/Logo.png' %}" class="logo-navbar">

                </a>

                

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#menu">

                    <span class="navbar-toggler-icon"></span>

                </button>

                

                <div class="collapse navbar-collapse justify-content-center"
                     id="menu">


                    <ul class="navbar-nav">
                        <li class="nav-item">
                           <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacto</a>
                        </li>
                    </ul>
                </div>

                

                <a href="#"
                    class="fs-4 text-dark"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#carritoLateral"
                    aria-controls="carritoLateral">

                        <i class="bi bi-bag bolsa-carrito"></i>

                </a>

            </div>
        </nav>
    </header>

    

    <main>

        {% block content %}
        {% endblock %}

    </main>

    <!-- Carrito lateral -->
    <div class="offcanvas offcanvas-end carrito-lateral"
        tabindex="-1"
        id="carritoLateral"
        aria-labelledby="carritoTitulo">

        <div class="offcanvas-header">

            <h5 class="offcanvas-title carrito-titulo" id="carritoTitulo">
                Carrito de compras
            </h5>

            <button type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Cerrar">
            </button>

        </div>


        <div class="offcanvas-body">

            <!-- Productos del carrito -->
            <div class="carrito-productos">

                
                <div class="carrito-producto">

                    <div class="carrito-producto-contenido">

                        <div class="carrito-imagen">
                            <!-- La imagen real la conectaremos después -->
                        </div>

                        <div class="carrito-detalle">

                            <h6>Nombre del producto</h6>

                            <p>Talle: 38</p>

                            <p>$40.900</p>

                        </div>

                    </div>


                    <button type="button"
                        class="carrito-eliminar"
                        aria-label="Eliminar producto">

                        <i class="bi bi-trash"></i>

                    </button>


                    <div class="carrito-cantidad">

                        <button type="button">−</button>

                        <span>1</span>

                        <button type="button">+</button>

                    </div>

                </div>

            </div>


            <div class="carrito-resumen">

                <div class="carrito-linea">
                    <span>Productos</span>
                    <span>1</span>
                </div>

                <div class="carrito-linea">
                    <span>Subtotal</span>
                    <span>$40.900</span>
                </div>

                <div class="carrito-linea">
                    <span>IVA</span>
                    <span>$8.589</span>
                </div>

                <div class="carrito-linea carrito-total">
                    <span>TOTAL</span>
                    <span>$49.489</span>
                </div>

            </div>

        


        
            <div class="carrito-info">

                <p>
                    <i class="bi bi-shield-check"></i>
                    Compra 100% segura
                </p>

                <p>
                    <i class="bi bi-clock"></i>
                    Tu carrito vence en 24 horas
                </p>

            </div>


            <button type="button" class="iniciar-compra">
                INICIAR COMPRA
            </button>

        </div>

    </div>

    <!-- Bootstrap JS -->

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>


</body>

</html>