{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title> 
    <link rel ="stylesheet" href="{% static 'administracion/css/dashboard.css' %}">    
</head>

<body>
    <header class="header">
        <div class="logo">
            <span class="logo-hoja"></span>
            <span>Olivia</span>
        </div>
        <h1> panel de Administrción </h1>
        <div class="notificacion">
        </div>
    </header> 
    
    <main class="container">
        <section class="seccion productos-section">
            <div class="section-header">
                <h2>PRODUCTOS RECIENTES</h2>
                <a href="{% url 'agregar_producto' %}">
                     Agregar Producto
                </a>
            </div>
            <div class="tabla-productos">
                <div class="producto-header">
                    <div>Productos:</div>
                    <div>Descripción</div>
                    <div>Precio</div>
                    <div>Talles</div>
                    <div>Color</div>
                    <div>Stock Producto</div>
                    <div>Stock Depocito</div>
                    <div>Acciones</div>
                </div>

                {% for producto in productos %}
                <div class="producto-row">
                     <div class="producto-info">
                        {% with producto.imagen_set.first as imagen %}
                            {% if imagen and imagen.imagen %}
                               <img src="{{ imagen.imagen.url }}" 
                                    alt="{{ producto.nombre }}">
                            {% else %}
                             <div class="sin-imagen">
                                Sin imagen
                             </div>
                            {% endif %}
                        {% endwith %}
                    </div>

                    <div>
                       {{ producto.descripcion }}
                    </div>

                    
                    <div>
                     ${{ producto.precio_mostrar }}
                    </div>

                    <div class="talles">
                        {% for variante in producto.variantes.all %}
                            <span>{{ variante.talle }}</span>
                        {% empty %}
                            <span>Sin talle</span>
                        {% endfor %}
                    </div>

                    <div>
                        {% for variante in producto.variantes.all %}
                            {{ variante.color }}
                            {% if not forloop.last %}, {% endif %}
                        {% empty %}
                            Sin color
                            {% endfor %}
                    </div>

                    <div>
                        {% for variante in producto.variantes.all %}
                            {{ variante.stockProducto }}
                            {% if not forloop.last %}, {% endif %}
                        {% empty %}
                            0
                        {% endfor %}
                    </div>

                    <div>
                        {% for variante in producto.depocito.all %}
                            {{ variante.stockDepocito }}
                            {% if not forloop.last %}, {% endif %}
                        {% empty %}
                            0
                        {% endfor %}
                    </div>

                      <div class="acciones">
                         <button class="btn-icon editar" title="Editar">
                             ✎
                         </button>
                         <button class="btn-icon eliminar" title="Eliminar">
                              🗑︎
                         </button> 
                         <button class="btn-icon descuento" title="Descuento">
                             🏷︎
                         </button>
                        </div>

                    </div>

                {% empty %}
              <div class="producto-row">
                 <div>No hay productos registrados.</div>
              </div>
             {% endfor %}
            </div>
        </section>
        
        <section class="seccion pedidos-section">
            <h2> PEDIDOS RECIENTES</h2>
            <div class="tabla-pedidos">
                <div class="pedido-header">
                    <div>num.pedido</div>
                    <div>Nombre</div>
                    <div>Apellido</div>
                    <div>Producto</div>
                    <div>Cantidad de unidades</div>
                    <div>talle</div>
                    <div>Fecha</div>
                    <div>Precio</div>
                    <div>Estado</div>
                    <div>Acción</div>
                </div>
                    <button class="btn-detalle">
                        detalle <br>
                        pedido
                    </button>
                </div>
            </div>
                <button class="btn-detalle">
                    Detalle<br>
                    Pedido
                </button>
            </div>
        </div>
      </div>
    </div>
</div>
    <div class="ver-pedidos">
        <a href="#">
            ver todos --&gt;
        </a>
    </div>
</section>
</main>
<footer></footer>
</body>
</html>